
.icon-camera-alt:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-upload-cloud:before { content: '\e802'; } /* '' */
.icon-right-bold:before { content: '\e803'; } /* '' */
.icon-monitor:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-network:before { content: '\e806'; } /* '' */
.icon-optin-monster:before { content: '\f23c'; } /* '' */
.icon-fort-awesome:before { content: '\f286'; } /* '' */
.icon-pause-circle-o:before { content: '\f28c'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */